# Ignore compiled JavaScript files
*.js

# Ignore compiled declaration files
*.d.ts

# Ignore compiled type declaration map files
*.d.ts.map

# Ignore compiled JavaScript map files
*.js.map

# Ignore configuration files
tsconfig.json

# Ignore npm packages
node_modules/

*.swp

input*